<div class="card dashboard-card shadow d-flex justify-content-center align-items-center pt-3">
    <div class="dashboard-card-image">
        <%= image_tag("#{category_url}") %>
    </div>
    <div class="card-body">
        <h5 class="card-title"><%= category_title %></h5>
    </div>
</div>