<div class="row">
    <div class="col-3">
        <%= link_to path do %>
        <i class="fas fa-chevron-left"></i>
        <%end%>
    </div>
    <div class="col-3 ml-auto">
        <%= render 'components/hamburger-menu', dashboard: false %>
    </div>
</div>