<div class="row p-4">
    <div class="col-3">
        <%= link_to path do %>
        <% if defined?(white_header) %>
        <i class="fas fa-chevron-left white pl-2"></i>
        <% else %>
        <i class="fas fa-chevron-left pl-2"></i>
        <%end%>
        <% end %>
    </div>

    <div class="col-9 ml-auto">
        <%= render 'components/hamburger-menu', dashboard: false %>
    </div>
</div>