<div class="row p-3 pt-4 m-0">
    <div class="col-3 mt-1">
        <%= link_to path do %>
        <% if defined?(white_header) %>
        <i class="fas fa-chevron-left white pl-2"></i>
        <% else %>
        <i class="fas fa-chevron-left white"></i>
        <%end%>
        <% end %>
    </div>

    <div class="col-9 ml-auto">
        <%= render 'components/hamburger-menu', dashboard: false %>
    </div>
</div>