<div class="row flex-column">
    <div class="col border month-header py-2">
    </div>
    <div class="col d-flex border month p-3 justify-content-center align-content-center">
        <h6><%=month%></h6>
    </div>
</div>