<div class="checkbox">
    <label>
        <input type="checkbox" data-toggle="toggle">
        Option one is enabled
    </label>
</div>
<div class="checkbox disabled">
    <label>
        <input type="checkbox" disabled data-toggle="toggle">
        Option two is disabled
    </label>
</div>