// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$primary-green: #3cdb9b;
$primary-blue: #6b8eff;
$secondary-orange: #fb8c00;
$secondary-pink: #ea6d8c;
$secondary-purple: #8e5a8b;
$white: #ffffff;
