// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chatroom-main {
    margin: 2rem auto;
    width: 90%;
}

.chatroom-body {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    color: white;
}

.chatroom-card {
    height: 20vh;
    display: grid;
    background-color:$primary-blue;
    place-items: center;
    align-items: center;
    border-radius: 10px;
    }