// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chatroom-main {
    margin: 2rem auto;
    width: 90%;
}

.chatroom-body {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    color: white;
}

.chatroom-card {
    height: 20vh;
    display: grid;
    background-color:$primary-blue;
    place-items: center;
    align-items: center;
    border-radius: 10px;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        margin: 1rem 1rem;
        width: auto;
      }

      .card-category {
        background-size: cover;
        background-position: center;
        height: 180px;
        display: inline-block;
        justify-content: center;
        align-items:center;
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        overflow: hidden;
      }

      .chatroom-card-name {
          margin: 2rem 2rem;
          width: auto;
      }

      .chatroom-card-button {
        margin: 2.5rem 2rem;
    }

    // Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  .messages-main {
      margin: 2rem auto;
  }
