.paw-logo {
  width: 30px;
  height: 30px;
}
.header__dashboard {
  background-color: $primary-blue;
  color: $white;
}
.profile-pic {
  width: 100px;
  height: 100px;
}

.dashboard {
 gap: 10px 20px;
 margin-top: 24px;
}
