.paw-logo {
  width: 30px;
  height: 30px;
}
.header {
  background-color: $primary-blue;
  color: $white;
}
.dashboard {
 gap: 10px 20px;
 margin-top: 24px;
}

.profile-header {
  width: 100%;
  text-align: center;
}

.profile-pic {
  display: inline-block;
  margin: 0 auto;
}

.profile-text {
  position: relative;
  align-content: center;
}