.logo {
  width: 30px;
  height: 30px;
  &.cafe-logo,
  &.heart-logo {
    width: 50px;
    height: 50px;
  }
}
.header__dashboard {
  background-color: $primary-blue;
  color: $white;
  border-bottom-left-radius: $font-size-base * 1.5;
  border-bottom-right-radius: $font-size-base * 1.5;
  &.green {
    background-color: $primary-green;
  }
}
.dashboard {
  gap: 10px 20px;
  margin-top: 24px;
}

.profile-header {
  width: 100%;
  text-align: center;
}

.profile-pic {
  display: inline-block;
  margin: 0 auto;
}

.profile-text {
  position: relative;
  align-content: center;
}

.categories_header {
  background-color: $primary-green;
  color: $white;
  border-bottom-left-radius: $font-size-base * 1.5;
  border-bottom-right-radius: $font-size-base * 1.5;
  height: 180px;
  display:flexbox;
}

.fas fa-chevron-left {
  color: $white;
}