// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event-name {
  font-size: $font-size-base * 0.8;
}

.calendar-title,
.fa-forward,
.fa-backward {
  color: red;
}
.simple-calendar {
  margin: 0;
  padding: 0;
}
.table-striped {
  font-size: $font-size-base * 0.8;
}
.event-link {
  color: $secondary-orange;
}
.monthly-event-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    background-color: $primary-green;
    // padding: $font-size-base * 0.8;
    // border-radius: $font-size-base * 0.8;
    & > a {
      color: $white;
    }
  }
}
.calendar-heading {
  padding: 0 $font-size-base * 2;
}

.event-card-header h5 {
  color: $primary-green;
}
