// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.friends-main {
    display: grid;
    grid-template-columns: minmax(160px, 25%) auto;
    padding: 0;
    margin: 2.5rem 0 0 0;
    width: auto;
    height: 75vh;
}
.friends-management {
    height: 100vh;
    text-align: left;
    margin: 1rem 0.5rem 1rem 1rem;
}

.friends-find {
    height: 100vh;
    margin: 1rem 0.5rem 1rem 1rem;
    text-align: center;
    overflow: scroll;
}

.friends-card {
    border-top: solid 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: $primary-blue;
    display: grid;
    align-items: center;
    justify-content: center;
}

.requests-card {
    border-top: solid 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: $secondary-orange;
    display: grid;
    align-items: center;
    justify-content: center;
}

.pending-card {
    border-top: solid 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: $secondary-orange;
    display: grid;
    align-items: center;
    justify-content: center;
}

.find-friends-card {
    border-top: solid 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: $primary-green;
}

.friends-pet-name{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
}