// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.places-main {
  margin: 0 auto;
  width: 90%;
}

.search {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.place-header {
  background-color: $primary-blue;
}
.fa-phone {
  color: $secondary-pink;
}
.fa-star {
  color: $yellow;
}
.fa-heart {
  color: $red;
  font-size: $font-size-base * 1.5;
}
.icon {
  width: $font-size-base * 2;
  height: $font-size-base * 2;
  &.logout {
    width: $font-size-base * 1.5;
    height: $font-size-base * 1.5;
    margin-top: 5px;
  }
  &.edit,
  &.delete {
    width: $font-size-base * 1.2;
    height: $font-size-base * 1.2;
  }
}
.map {
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  position: relative;
}

.place-search-input {
  position: relative;
  top: 1rem;
  left: 40%;
  z-index: 2;
}
.cafe-image {
  border-radius: $font-size-base * 2;
  overflow: hidden;
  width: 445px;
  height: 246px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  object-fit: contain;
}
