<div class="row my-5">
    <div class="col-6 mx-auto">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <%= image_tag('paw-logo.svg', class: 'logo border') %>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h3 class="auth-logo-title">BestieLife</h3>
                </div>
            </div>
        </div>
    </div>
</div>