<h1>All my pets friends</h1>
<h3> Friend Requests:</h3>
<% if @user.friend_requests? %>
<% @requests.each do |friend| %>
    <%= friend.pet.pet_name%>
    <%= form_tag ({controller: 'friends', action: 'add', method: 'post', id: friend.id}) do %>
        <input type=submit value='Yes, be my bestie!'>
        <% end %>
        <%= form_tag ({controller: 'friends', action: 'reject', method: 'post', id: friend.id}) do %>
            <input type=submit value='Nope, soz!'>
            <% end %>
    <% end %>
    
       <% else %>
            <h4>Woof, nothing to see here</h4>
            <% end %>
