<div class="categories-header">
    <%= render 'components/header', path: root_path %>
    <h3 class="categories-text"">
    Chatrooms
    </h3>
</div>
<div class="cards">
        <% @chatrooms.each do |chatroom| %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
                <div class="container chatroom-card-name">
                    <h3><%= chatroom.name %></h3>
                </div>
                <div class="container chatroom-card-button">
                    <%= link_to "Enter", chatroom_path(chatroom), class:'button button-sm primary-green'%>
                </div> 
            </div>
        <% end %>
</div>