<div class="chatroom-main">
<h1> This is the main Chatroom </h1>
<div class="chatroom-card">
<% @chatrooms.each do |chatroom| %>
<h3 class="chatroom-title"><%= chatroom.name %></h3>
<p class="chatroom-description"
<div class="visual"
<p><%= link_to "Enter", chatroom_path(chatroom) %></p>
</div>
</div>
<% end %>
</div>