<div class="categories-header">
    <%= render 'components/header', path: root_path %>
    <h3 class="categories-text"">
    Chatrooms
    </h3>
</div>
<div class="chatroom-main">
    <div class="chatroom-body">
        <% @chatrooms.each do |chatroom| %>
        <div class="chatroom-card">
            <h3><%= chatroom.name %></h3>
            <%= link_to "Enter", chatroom_path(chatroom), class:'button button-sm primary-green'%>
        </div>
        <% end %>
    </div>
</div>