<div class="categories-header">
    <%= render 'components/header', path: root_path %>
    <div class="row">
        <h3 class="categories-text mx-auto">
            Chatrooms
        </h3>
    </div>
</div>
<div class="cards">
    <% @chatrooms.each do |chatroom| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path chatroom.photo.key %>')">
        <div class="container chatroom-card-name">
            <h3><%= chatroom.name %></h3>
        </div>
        <div class="container chatroom-card-button">
            <%= link_to "Enter", chatroom_path(chatroom), class:'button button-sm primary-green'%>
        </div>
    </div>
    <% end %>
</div>