<h1> This is the main Chatroom </h1>
<div class="chatroom-body">
<% @chatrooms.each do |chatroom| %>
<div class="chatroom-card">
<h3><%= chatroom.name %></h3>
<%= link_to "Enter", chatroom_path(chatroom), class:'button button-sm primary-green'%>
</div>
<% end %>
</div>