<div class="row card shadow rounded flex-row p-3 my-5">
    <div class="col-9 mx-auto">
        <div class="container">
            <div class="row mb-2 align-items-center event-card-header">
                <h6><%= event.name %></h6>
            </div>
            <div class="row">
                <span class="text-muted">
                    <%= event.description%>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-2 ml-auto d-flex">
                <%= link_to image_tag('edit.svg', class: "icon edit mr-2"), edit_event_path(event) %>
                <%= link_to image_tag('delete.svg', class: "icon delete"), event_path(event), method: :delete %>
            </div>
        </div>
    </div>
</div>
</div>