<div class="table-responsive mt-4">
    <%= month_calendar(events: events) do |date, meetings| %>
    <div class="col">
        <%= date.to_formatted_s(:short)[0...-4] %>
    </div>
    <ul style="margin:8px;padding:0;">
        <% meetings.each do |meeting| %>
        <li>
            <%= link_to "#{meeting.name[0,8]...}", event_path(meeting),  class:"event-link" %>
        </li>
        <% end %>
    </ul>
    <% end %>
</div>