<div class="row">
    <div class="col-12">
        <%= week_calendar(number_of_weeks: 1) do |date| %>
        <div><%= date.to_formatted_s(:short)[0...-4] %></div>
        <% end %>
    </div>
</div>

<% events.each do |event| %>
<div>
    <%= link_to event.name, event_path(event) %>
</div>
<% end %>