<div class="categories-header">
    <%= render 'components/header', path: root_path %>
    <div class="row">
        <h3 class="categories-text  mx-auto">Calendar</h3>
    </div>
</div>
<div class="calendar-main">
    <% if params[:month] %>
    <%= render "month", events: @monthly_events %>
    <% else %>
    <%= render "week", events: @weekly_events %>
    <% end %>
    <%= render 'components/fab', path: new_event_path %>
</div>