<div class="photos-add-remove">
    <div class="d-flex justify-content-around">
    <% if current_user == @pet.user %>

        <%= simple_form_for @pet, url: add_picture_pet_path(@pet), method: :post do |f| %>
        <%= f.input :photo, required: false, input_html: { class: 'd-none', id: 'add-photo'}, label_html: {class: 'add-photo-button'}, as: :file, :label => "📷"%>
        <%= f.submit input_html: { class: 'd-none', id: 'submit-photo'}, label_html: { class: 'submit-photo-button'}, label: 'Submit' %>  
    <% end %>
    <% end %>
    </div>
    </div>