<%= render 'components/header', path: root_path %>
<h1>Photos#show</h1>
<p>Find me in app/views/photos/show.html.erb</p>
<%= cl_image_tag @photo.key, width: 100 %>
<% if current_user == @pet.user %>
<%= link_to "delete", remove_picture_pet_path(@photo.id), method: :delete %>
<% end %>