.button {
  color: $white;
  border: none;
  outline: none;
  border-radius: 5px;
  &.button-sm {
    width: $font-size-base * 5;
    padding: 0.5rem 0.8rem;
  }
  &.button-md {
    width: $font-size-base * 10;
    padding: 0.7rem 0;
  }
  &.button-lg {
    width: $font-size-base * 15;
    padding: 0.8rem 0;
  }
  &.primary-blue {
    background-color: $primary-blue;
  }
  &.secondary-pink {
    background-color: $secondary-pink;
  }
  &.primary-green {
    background-color: $primary-green;
  }
  & > a {
    color: $white;
  }

  &.fab {
    position: fixed;
    right: $font-size-base * 3;
    bottom: $font-size-base * 3;
    z-index: 2;
    & > .fa-plus-circle {
      font-size: $font-size-base * 2.5;
      color: $secondary-orange;
    }
    & > img {
      width: 50px;
      height: 50px;
    }
  }
}

.add-photo-button {
  color: $white;
  border: 2px $primary-green;
  border-style: solid;
  border-radius: 5px;
  width: $font-size-base * 5;
  padding: 0;
  text-align: center;
  margin-bottom: -3rem;
  
  & > a {
    color: $white;
  }
  }

  .submit-photo-button {
    color: $primary-green;
    background-color: $white;
    border: 2px $primary-green;
    border-style: solid;
    border-radius: 5px;
    width: $font-size-base * 5;
    padding: 0;
    text-align: center;
    margin-bottom: -3rem;
    display: none; 
    & > a {
      color: $white;
    }
  }