.dashboard-card {
  border-radius: $font-size-base;
  width: $font-size-base * 8;
  height: $font-size-base * 8;
}
.dashboard-card-image {
  height: 50%;
  & > img {
    width: 100%;
    height: 100%;
  }
}
.card-body {
  height: 50%;
  h5 {
    font-size: $font-size-base * 1.1;
  }
}
