.navbar {
  padding: 0;
  margin: 0;
  position: absolute;
  right: $font-size-base * 1.5;
  z-index: 2;
  & > .nav-item {
    padding: 0;
    margin: 0;
  }
}
.fa-bars,
.fa-bars:focus {
  color: $white;
  &.page-header {
    color: $white;
  }
}
.dropdown-links {
  color: $black;
  font-size: $font-size-base * 0.8;
  display: block;
}
.dropdown-menu {
  border-radius: 5px;
  padding: $font-size-base;
}
.fa-calendar-alt,
.fa-dollar-sign,
.fa-map-marked-alt,
.fa-camera-retro,
.fa-dog,
.fa-comments,
.fa-sign-out-alt,
.fa-home,
.fa-paw {
  color: $secondary-orange;
  font-size: $font-size-base;
  & + span {
    font-size: $font-size-base;
  }
}
