.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.categories-text {
  color: #ffffff;
  margin: 1rem 3rem;
  position: relative;
  justify-content: space-around;
}
