<%= render 'components/header', path: root_path %>
<div class="row">
    <div class="col mx-auto">
        <%= form_with(model: place, local: true, data: {
        controller: :maps
        # action: "submit->maps#initializeMap" 
    }) do |form| %>
        <div class="field search">
            <%= form.label "Search for an area" %>
            <%= form.search_field :search, name: nil, data: {target: "maps.field", action: "keydown->maps#preventSubmit" }, class: "form-control" %>
        </div>

        <div data-target="maps.map" style="height:500px;width: 100%;position:relative;">

        </div>
        <div data-target="maps.placeName" style="position:absolute;bottom: 20px;left:40%;"></div>
        <%end %>
    </div>
</div>