<%= render 'components/header', path: root_path %>
<div class="row">
    <div class="col mx-auto">
        <%= form_with(model: place, local: true, data: {
        controller: :maps
        # action: "submit->maps#initializeMap" 
    }) do |form| %>

        <div class="field my-5">
            <%= form.label :search %>
            <%= form.search_field :search, name: nil, data: {target: "maps.field", action: "keydown->maps#preventSubmit" }, class: "form-control" %>
        </div>

        <div data-target="maps.map" style="height:500px;width: 100%;"></div>

        <%end %>
    </div>
</div>