<div class="categories-header">
    <%= render 'components/header', path: root_path %>
    <div class="row">
        <h3 class="categories-text  mx-auto"> Explore </h3>
    </div>
</div>
<div class=" places-main">
    <%= render 'form', place: @place %>
</div>