<div class="categories-header">
    <%= render 'components/header', path: root_path %>
    <h3 class="categories-text"">
    Explore
    </h3>
</div>
<div class="places-main">
    <%= render 'form', place: @place %>
</div>
